<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Manage Users</title>
    <style>
        body {
            padding: 20px;
        }
        .table td, .table th {
            vertical-align: middle;
        }
    </style>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <h2 class="mb-4">Manage Users</h2>
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <form th:action="@{/admin/users/delete/{userId}(userId=${user.id})}" method="post" th:object="${user}">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa người dùng này?');">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-primary btn-sm"
               href="/admin">Back</a>
        </div>
    </section>
</main>
<!-- Footer-->
</body>
</html>