<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
  <title>Event Detail</title>
</head>
<body class="d-flex flex-column">
<!-- Page Content-->
<section layout:fragment="body" class="py-5">
  <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
      <div class="text-center my-5">
        <h1 class="fw-bolder" th:text="${event.name}"></h1>
        <h2 class="card-text" th:text="${event.type}"></h2>
      </div>
    </div>
  </header>
  <!-- Page content-->
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="card mb-4">
          <a href="#!"><img class="card-img-top" th:src="${event.photoUrl}" alt="..." /></a>
          <div class="card-body">
            <div class="small text-muted" th:text="${event.createdOn}"></div>
            <h2 class="card-title">About this running event</h2>
            <p class="card-text" th:text="${event.startTime}"></p>
            <p class="card-text" th:text="${event.endTime}"></p>
            <p class="card-text lead" th:text="${event.describe}"></p>
            <div th:if="${user.id} == ${event.club.createdBy.id}">
            <a class="btn btn-primary" th:href="@{/events/{eventId}/delete(eventId=${event.id})}">Delete</a>
            </div>
          </div>
        </div>
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
          <!-- Blog post-->
        </div>
        <!-- Pagination-->
      </div>
      <!-- Side widgets-->

      <div class="col-lg-4">
        <!-- Search widget-->
        <!-- Categories widget-->
        <h5>Địa điểm tổ chức: [[${event.location}]]</h5>
        <iframe th:src="@{'https://maps.google.com/maps?q=' + ${event.location} + '&output=embed'}"
                  width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade">
          </iframe>
      </div>
    </div>
  </div>
</section>
<!-- Footer-->
</body>
</html>