<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Event List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Find Running Events</h1>
                <p class="lead fw-normal text-muted mb-0">Find running events near you</p>
            </div>
            <div class="row gx-5">
                <div th:each="event : ${events}" class="col-lg-6 mb-3">
                    <div class="position-relative mb-2 img">
                        <div class="d-flex align-items-center justify-content-center" style="width: 600px; height: 350px; overflow: hidden;">
                            <img class="w-100 h-100" style="object-fit: cover; border-radius: 15px;" th:src="${event.photoUrl}" alt="..." />
                        </div>
                    </div>
                    <div class="card-body mb-2">
                        <div class="row">
                            <div class="col-auto small text-muted">
                                <span th:text="${event.startTime}"></span> - <span th:text="${event.endTime}"></span>
                            </div>
                        </div>
                        <h2 class="card-title h4" th:text="${event.name}"></h2>
                    </div>
                    <a class="btn btn-primary" th:href="@{/events/{eventId}(eventId=${event.id})}">View</a>
                    <div th:if="${user.id} == ${event.club.createdBy.id}">
                        <a class="btn btn-primary" th:href="@{/events/{eventId}/edit(eventId=${event.id})}">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
</body>
</html>