<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Club Create</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/events/{clubId}(clubId=${clubId})}" th:object="${event}" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Name</label>
                        <input
                                type="text"
                                class="form-control"
                                id="name"
                                name="name"
                                th:field="*{name}"
                                placeholder="Event name">
                        <p th:errors="*{name}" class="text-danger"></p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="type">Type</label>
                        <input
                                type="text"
                                class="form-control"
                                id="type"
                                name="type"
                                th:field="*{type}"
                                placeholder="Type">
                        <p th:errors="*{type}" class="text-danger"></p>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="photo">Photo</label>
                    <input
                            type="file"
                            class="form-control"
                            id="photo"
                            name="photo"
                            accept="image/*">
                </div>

                <div class="form-group mb-3">
                    <label for="startTime">Start Time</label>
                    <input
                            type="datetime-local"
                            class="form-control"
                            id="startTime"
                            name="startTime"
                            th:field="*{startTime}"
                            placeholder="Start Time">
                    <p th:if="${#fields.hasErrors('startTime')}" class="text-danger" th:errors="*{'startTime'}"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="endTime">End Time</label>
                    <input
                            type="datetime-local"
                            class="form-control"
                            id="endTime"
                            name="endTime"

                            th:field="*{endTime}"
                            placeholder="End Time">
                </div>
                <div class="form-group mb-3">
                    <label for="location">Location</label>
                    <input
                            type="text"
                            class="form-control"
                            id="location"
                            name="location"
                            th:field="*{location}"
                            placeholder="Location">
                    <p th:errors="*{location}" class="text-danger"></p>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="describe">Describe</label>
                    <textarea
                            class="form-control w-20"
                            id="describe"
                            name="describe"
                            th:field="*{describe}"
                            rows="5"
                            placeholder="Describe"></textarea>
                    <p th:errors="*{describe}" class="text-danger"></p>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </section>
</main>
<!-- Footer-->
</body>
</html>